################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.lock
/.vs/First/v16
/bin
Char/obj/Debug/

Char/bin/Debug/

.vs/
